/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	position: relative;
	margin: 0px;
	top: 0px;
	left: 0px;
	transition: 0.5s ease;
}

.back {
	margin: 0px;
	top: 0px;
	left: 0px;
	transition: 0.5s ease;
}

.front:hover {
	opacity: 0;
}

.back:hover {
	opacity: 0;
}

.front:hover {
	transform: rotateY( 180deg );
}

.back:hover {
	transform: rotateY( 180deg );
}
